<%- model_class = Admin::Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:sign) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_articles.each do |admin_article| %>
      <tr>
        <td><%= link_to admin_article.title, admin_article_path(admin_article) %></td>
        <td><%= admin_article.sign %></td>
        <td><%=l admin_article.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_article_path(admin_article), :class => 'btn btn-mini','data-no-turbolink' => true %>
          <%= link_to t('.change', :default => t("helpers.links.change")),
                      changesign_admin_article_path(admin_article), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_article_path(admin_article),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admin_articles %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_article_path,
            :class => 'btn btn-primary','data-no-turbolink' => true %>
